<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="admin.master.cs" Inherits="online.Admin.admin" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
   
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">






            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
